h2 {
    margin-top: 5px;
}
a {
    color: #5A6B7D;
}
#wrapper {
    padding-left: 0;
    width: 100%;
    overflow: hidden;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
    margin-top: 0px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

    #page-wrapper {
        padding: 0px 10px;
    }
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 0px;
        left: 300px;
        width: 300px;
        margin-left: -300px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #5A6B7D;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 0px;
    }

    .side-nav>li ul li label {
        width: 300px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li ul li label.actived,
    .side-nav li ul li label:hover,
    .side-nav li ul li label:focus {
        outline: none;
        background-color: #4d5c6b !important;
    }
}

.side-nav>li ul {
    padding: 0;
}

.side-nav, .side-nav a {
    color: #f5f5f5;
}
.side-nav a:focus, .side-nav a:hover {
    background-color: #4d5c6b!important;
}
.side-nav li {
    float: none;
}

.side-nav li h2, .side-nav li h3, .side-nav li h4, .side-nav li div {
    padding: 3px 4px 3px 18px;
    margin: 0;
}

.side-nav>li>ul>li label {
    display: block;
    padding: 3px 4px 3px 18px;
    text-decoration: none;
    /* color: #d4d4d4; */
    margin: 0;
    cursor: pointer;
    word-wrap: break-word;
    font-size: 13px;
}
.side-nav>li>ul>li label>input {
    margin-right: 3px;
}

.nav {
    display: inherit;
    flex-wrap: inherit;
}
.navbar .nav > li  a:hover > .label {
    top: 10px;
}


.filters {
    margin-bottom: 5px;
}
.filters .filter {
    display: inline-block;
    cursor: pointer;
    background: #5A6B7D;
    color: #f5f5f5;
    padding: 2px 4px;
    margin-right: 5px;
    margin-bottom: 4px;
    box-shadow: 0 0 black;
}

.modal-dialog{
    width:80%;
    max-width:80%;
    transform: none!important;
}
.modal-content {
    border-radius: 0;
    border: 0;
}
.modalheader {
    margin: 4px;
}
.table {
    margin-bottom: 0px;
}
table {
    border: 0;
}

table tr {
    cursor: pointer;
}

table tr:hover {
    background: #DDD!important;
}

.url {
    word-wrap: break-word;
}
.columnUrl {
    max-width: 300px;
    word-wrap: break-word;
}
.navbar-header {
    position: absolute;
    display: block;
    background: #5a6b7d;
    left: 0px;
    right:0;
    color: white;
    padding: 8px 7px;
}

.navbar-header a {
    color: #FFF;
}

.navbar-header h2 {
    display: inline-block;
}

input[type=search] {
    color: black;
    padding: 3px;
    font-size: 13px;
    background: #eeeeee;
    width: 350px;
    outline: none;
    margin-left: 7px;
    border: 1px solid #DDDDDD;
}

img.screenshot {
    max-width: 100%;
}
.status500 {
    color: red;
}
.status200 {
    color: green;
}
.repairStatus {
    background: #ff9900;
    content: ' ';
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
}
.repairStatus.disabled {
    background: red;
}
.repairStatus.activated {
    background: green;
}