<!doctype html>
<html ng-app="BikiniRepair" ng-controller="mainController">
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>
    <header><h1>BugBlock</h1></header>

    <article>
        <div class="current_page">
            <h2>Known Errors</h2>
            <ul class="errors">
              <li class="error" ng-repeat="error in knownErrors">
                {{error.message}} at {{error.file}}:{{error.line}}
              </li>
              <li class="no-error" ng-if="knownErrors.length == 0">
                  No error is known for this page
              </li>
            </ul>
            <h2>Errors</h2>
            <ul class="errors">
              <li class="error" ng-repeat="error in errors">
                {{error.message}} at {{error.file}}:{{error.line}}
              </li>
              <li class="no-error" ng-if="errors.length == 0">
                  No error has been detected in this page
              </li>
            </ul>
        
            <h2>Self-healing strategies</h2>
            <ul class="errors">
              <li class="action" ng-repeat="error in repairActions">
                {{error}}
              </li>
              <li class="no-error" ng-if="repairActions.length == 0">
                  No self-healing strategies has been applied
              </li>
            </ul>
        </div>
    </article>
    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->
  </body>
</html>
